body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thumbnail:hover{
	border-color: #ffd926;
}

.productImage{
	cursor:pointer;
}

.alignCenter{
	 text-align: center;
}

#mycustomsidebar{
	z-index:0;
}

.myDialog{
	display: none;
}

.midPosition{
	position:absolute;
	top:40%;
	left:40%;
}
