<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONS" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p: %C.%M: %m%n" />
        </layout>
    </appender>

    <!-- param entries must come before layout entry.            -->
    <appender name="MainLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="E:\\Rajesh\\webpos_mainlog.log" />
        <param name="MaxFileSize" value="100MB" />
        <param name="MaxBackupIndex" value="9" />
        <param name="Threshold" value="INFO" />
        

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p: %d [%C %M] %m%n" />
        </layout>
    </appender>
    
        <!-- param entries must come before layout entry.            -->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="E:\\Rajesh\\webpos_applog.log" />
        <param name="MaxFileSize" value="100MB" />
        <param name="MaxBackupIndex" value="9" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p: %d [%C %M] %m%n" />
        </layout>
    </appender>
    
     <logger name="com.dazzlersoft">
  <level value="DEBUG"/>
  <appender-ref ref="FILE"/>
 </logger>
    

    <logger name="org.springframework">
        <level value="INFO" />
        <appender-ref ref="MainLogFile" />
    </logger>

    <root>
          <level value="INFO"/>
  <appender-ref ref="MainLogFile"/>
    </root>
</log4j:configuration>